.productDetails {
  width: 100%;
  height: 630px;
}
.detailsShow {
  width: 1052px;
  height: 600px;

  margin-left: 150px;
}
.backToShop {
  width: 100%;
  height: 50px;
  line-height: 50px;
  font-size: 17px;
  font-weight: 600;
  cursor: pointer;
}
.productInfo {
  height: 515px;
  width: 1052px;
  display: flex;
  justify-content: center;
  border: 1px solid #e1e1e1;
}
.productInfoLeft {
  width: 150px;
  height: 513px;
  display: flex;
  justify-content: center;
}
.productLeftWrapper {
  height: 98px;
  width: 128px;
  display: flex;
  justify-content: center;
  margin-top: 15px;
}
.productLeftWrapper img {
  width: 100%;
  height: 98px;

  object-fit: cover;
  border: 1px solid #e1e1e1;
}
.productInfoMiddle {
  width: 400px;
  height: 513px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f8f8f8;
}
.productInfoMiddle img {
  width: 100%;
  object-fit: cover;
}

.productInfoRight {
  width: 500px;
  height: 513px;
}
.content {
  margin-top: 55px;
  margin-left: 30px;
}

.selectColor {
  width: 100%;
  height: 70px;
  font-size: 14px;
  color: gray;
  margin-top: 35px;
}
.colorShows {
  width: 100%;
  height: 40px;
  display: flex;
  margin-top: 10px;
}
.choose {
  width: 33px;
  height: 33px;
  list-style: none;
  border-radius: 50%;
  margin-left: 15px;
}
.infoPrice {
  width: 100%;
  height: 60px;
  font-size: 30px;
  line-height: 60px;
  font-weight: 700;
}
.infoBrand {
  color: #818181;
}
.infoName {
  color: #1a1a1a;
  font-weight: bold;
}
.infoDesc {
  color: #4a4a4a;
  font-size: 12px;
  margin-top: 20px;
}
.frameSize {
  color: #818181;
  margin-top: 20px;
}
.infoPrice {
  color: #1a1a1a;
  font-size: 20px;
}

.addbasket {
  width: 125px;
  height: 40px;
}
.buttons {
  width: 150px;
  height: 40px;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  line-height: 40px;
  background-color: black;
  cursor: pointer;
  color: white;
}
